mAxCommerce/mAxCommerce.WCF/Service References/Aif/mAxCommerce3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://oczeretkopc:8101/DynamicsAx/Services/mAxCommerce?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" />
  <xs:import schemaLocation="http://oczeretkopc:8101/DynamicsAx/Services/mAxCommerce?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="mAxCommerceCategory">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q1:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmChildCategories" nillable="true" type="tns:ArrayOfmAxCommerceCategory" />
          <xs:element minOccurs="0" name="parmId" type="xs:long" />
          <xs:element minOccurs="0" name="parmName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="mAxCommerceCategory" nillable="true" type="tns:mAxCommerceCategory" />
  <xs:complexType name="ArrayOfmAxCommerceCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mAxCommerceCategory" nillable="true" type="tns:mAxCommerceCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmAxCommerceCategory" nillable="true" type="tns:ArrayOfmAxCommerceCategory" />
  <xs:complexType name="mAxCommerceOrder">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q2:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmCity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCountry" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmFirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmLastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmLines" nillable="true" type="tns:ArrayOfmAxCommerceOrderLine" />
          <xs:element minOccurs="0" name="parmStreet" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmZipCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="mAxCommerceOrder" nillable="true" type="tns:mAxCommerceOrder" />
  <xs:complexType name="ArrayOfmAxCommerceOrderLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mAxCommerceOrderLine" nillable="true" type="tns:mAxCommerceOrderLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmAxCommerceOrderLine" nillable="true" type="tns:ArrayOfmAxCommerceOrderLine" />
  <xs:complexType name="mAxCommerceOrderLine">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q3:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmProductId" type="xs:long" />
          <xs:element minOccurs="0" name="parmQty" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="mAxCommerceOrderLine" nillable="true" type="tns:mAxCommerceOrderLine" />
  <xs:complexType name="mAxCommerceProduct">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q4:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmId" type="xs:long" />
          <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parmImages" nillable="true" type="q5:ArrayOflong" />
          <xs:element minOccurs="0" name="parmName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmPrice" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="mAxCommerceProduct" nillable="true" type="tns:mAxCommerceProduct" />
  <xs:complexType name="ArrayOfmAxCommerceProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mAxCommerceProduct" nillable="true" type="tns:mAxCommerceProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmAxCommerceProduct" nillable="true" type="tns:ArrayOfmAxCommerceProduct" />
</xs:schema>